@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  color: var(--foreground-primary);
  background-color: var(--background-primary);
}

.response-line {
  a {
    color: #008489;
    text-decoration: underline;
    font-weight: 500;
  }
}

.thinking-illustrator {
  display: flex;
  gap: 12px;
}

.thinking-face {
  animation: pulse 1.5s infinite;
}

.thinking-text {
  font-size: 14px;
  font-weight: 500;
}

mark {
  background-color: #f0f9ff;
  color: #008489;
  padding: 2px 4px;
  border-radius: 3px;
  font-weight: 500;
}

.prose pre {
  @apply bg-[#1e1e1e] text-white p-4 rounded overflow-x-auto;
}
.prose code {
  @apply text-sm font-mono text-blue-300;
}
.prose mark {
  @apply bg-yellow-300 text-black px-1 rounded;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

pre {
  overflow: auto;
  padding: 1rem;
  border-radius: 0.5rem;
}
